.sideoverskrift {
    text-align: left;
    margin: auto;
    font-size: 30px;
    color: white;
    }
    
    .hovedarket {
        padding-bottom: 1800px;
        max-height: 3000px;
        max-width: 1100px;
        margin: auto;
    }
    
    
    
    .column {
        display: inline-block;
        text-align: center;
        padding: 5px;
        margin: 5px;
      }
    
    
      